<?xml version="1.0"?>
<!-- Configuration file for FAT* tutorial 
	 Example 04: Fairness-aware algorithms -->

<librec-auto>
	<random-seed>202001</random-seed>
	<thread-count>1</thread-count>
	
	<!-- PATH SECTION -->
	<path>
		<data>example04/data</data>
		<result>result</result>
		<log>log</log>
	</path>
	
	<!-- DATA SECTION -->
	<data>
		<format>UIR</format>
		<data-file format="text">ratings.csv</data-file>
	</data>
	
	<!-- FEATURES SECTION -->
	<features>
		<appender-class>net.librec.data.convertor.appender.ItemFeatureAppender</appender-class>
		<item-feature-file>item-features.csv</item-feature-file>
	</features>
	
	<!-- SPLITTER SECTION -->
	<splitter>
		<model count="5">kcv</model>
		<dim>userfixed</dim>
		<ratio>0.8</ratio>
		<save>true</save>
	</splitter>
	
	<!-- ALGORITHM SECTION -->
	<alg>
		<class>net.librec.recommender.cf.ranking.BLNSLIMFastRecommender</class>
		<early-stop>true</early-stop>
		<similarity type="item">cos</similarity>
		<neighborhood-size>50</neighborhood-size>
		<shrinkage>10</shrinkage>
		<bold-driver>false</bold-driver>
		<iterator-max>5</iterator-max>
		<l1-reg>1</l1-reg>
		<l2-reg>5</l2-reg>
		<l3-reg>0.1</l3-reg>
		<min-sim>0.0</min-sim>
	</alg> 

	<!-- METRICS SECTION -->
	<metric>
		<ranking>true</ranking>
		<list-size>10</list-size>
		<class>net.librec.eval.ranking.ItemCoverageEvaluator</class>
		<protected-feature>old</protected-feature>
	</metric>
	
	<!-- POST-PROCESSING SECTION -->
	<post action='no-parse'>
		<script lang="python3" src="system">
			<script-name>result-graphics.py</script-name>
			<param name="browser">True</param>
		</script>
	</post> 
</librec-auto>
